* {
  font-family: 'Manrope', sans-serif !important;
  text-decoration: none !important;
  overflow-x: hidden;
}

body {
  background-color: #D9F0FF;
}

.overflow-x-h {
  overflow-x: hidden !important;
}

.rounded-10 {
  border-radius: 10px !important;
}

.rounded-20 {
  border-radius: 20px !important;
}

.foo-link:hover {
  color: white !important;
  cursor: pointer;
}